<h1>Stupid coaching</h1>
<div class="card">
  <p><%= @ask%></p>
  <p class="info">-You</p>
</div>
<div class="card coach">
  <p><%= @answer%> </p>
  <p class="info">-Your coach</p>
</div>


<%= link_to "Back to question", ask_path%>
